$board-height: 1080px;
$board-width: 1920px;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #151515;
  font-family: 'Freckle Face', cursive;
}

.loader{
  top: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  position: fixed;

  .loading {
    width: 200px;
    height: 50px;
    display: flex;

    span {
      display: block;
      border-radius: 50%;
      background-color: #ddd;
      margin: 0 10px;
      flex-grow: 1;
      animation: loading2Anim 1s 0s infinite alternate;
    }
    @for $i from 1 through 25 {
      $delay : 0.2s * $i;
      span:nth-of-type(#{$i}) {
        animation-delay: $delay;
      }
    }
  }

  @keyframes loading2Anim {
    100% {
      transform: translateY(20px);
    }
  }
}

.board {
  height: calc(0.6 * 1080px);
  width: calc(0.6 * 1920px);
  overflow: hidden;
  position: relative;
  cursor: crosshair;
  margin: 10px auto;
  background: url("../img/background/back.png") bottom no-repeat,
              url("../img/background/land.png"),
              url("../img/background/sea.png"),
              url("../img/background/sky.png");
  background-size: contain;

  .clouds {
    position: absolute;
    height: calc(0.6 * 1080px);
    width: calc(0.6 * 1920px);
    background: url("../img/background/cloud.png");
    background-size: contain;
    animation: wind 100s 0s infinite linear;
  }

  @keyframes wind {
    from {background-position: 0 0;}
    to {background-position: 1152px 0;}
  }

  .board_cover {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(0.6 * 1080px);
    width: calc(0.6 * 1920px);
    z-index: 350;
  }

  .pause {
    background: rgba(#555, 0.85);

    p {
      color: #aaa;
      font-weight: bolder;
      letter-spacing: 5px;
      font-size: 72px;
    }
  }

  .start {
    display: flex;
    background: #111;

    button {
      background: none;
      color: #aaa;
      font-weight: bolder;
      letter-spacing: 5px;
      font-size: 123px;
      border: 0;
      font-family: 'Freckle Face', cursive;
      cursor: crosshair;

      &:hover {
        transform: scale(1.1);
      }
      &:focus{
        outline: none;
      }
    }
  }

  .end {
    background: darkred;
    flex-direction: column;
    p {
      color: #aaa;
      font-weight: bolder;
      letter-spacing: 5px;
      font-size: 64px;
    }
    button {
      margin-top: 100px;
      background: none;
      color: #aaa;
      font-weight: bolder;
      letter-spacing: 5px;
      font-size: 72px;
      border: 0;
      font-family: 'Freckle Face', cursive;

      &:hover {
        transform: scale(1.1);
      }
      &:focus{
        outline: none;
      }
    }
  }

  &.shake {
    animation: shakeBoard 0.5s 0s forwards linear;
  }

  @keyframes shakeBoard {
    0%{transform: rotate(0)}
    10%{transform: rotate(-3deg)}
    20%{transform: rotate(3deg)}
    40%{transform: rotate(-2deg)}
    60%{transform: rotate(2deg)}
    100%{transform: rotate(0)}
  }
}

.zombie {
  width: 200px;
  height: 312px;
  background: url("../img/walkingdead.png");
  transform-origin: bottom right;
  position: absolute;
  left: 100%;
  transition: 0.4s linear transform;
  animation: zombieAnim 1s 0s infinite steps(9),
              zombieWalk 10s 0s linear;

}


@keyframes zombieAnim {
  100% {
    background-position: -1800px 0;
  }
}

@keyframes zombieWalk {
  100% {
    left: -200px;
  }
}

.boom {
  position: absolute;
  background-image: url("../img/comic-2340467.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  transform: scale(1);
  cursor: none;
  z-index: 500;
}

.info {
  width: calc(0.6 * 1920px);
  height: 50px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hp {
    height: 100%;
    display: flex;
    span {
      display: block;
      height: 100%;
      width: 56px;
      background-image: url("../img/Real-heart-clipart-2.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .score {
    color: #aaa;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 32px;
  }
}